# setup parameters
import sys, os

google_oauth2_file       = '' # Google drive authentication JSON file
amion_spreadsheet_id     = '' # spreadsheet id in google docs
amion_worksheet_name     = '' # telephone list
amion_worksheet_schedule = '' # current schedule

# for HTTP basic auth to Twilio
twilio_AccountSID = '' ######
twilio_AuthToken = '' ######

# box username and password
# for Box access
box_username = "" # email
box_password = "" # box external password

#places where emails from VM system should be sent
it_emails = ['ryan.neff@icahn.mssm.edu']

fallback_phone = '' # if everything goes wrong

intentions = {  '1': 'patient coming in TODAY',
		'2': 'NEW patient',
		'3': 'ESTABLISHED patient', 
		'4': 'ESTABLISHED patient' }

player_url = 'http://phone.ehhapp.org/player_twilio.php?a='
recordings_base = 'http://twilio.ehhapp.org/play_recording?filename='
from_email = 'ehhapp.twilio@ehhapp.org'

email_template = '''This message can be played from the following URL:

%s
  
** Please DO NOT reply to this email--call the patient back using the contact information within the $

Thanks,
The EHHapp
%s'''

