{% extends "layout.html" %}
{% block navbar %}
<li class="inactive"><a href="/calls">Call Log</a></li>
<li class="inactive"><a href="/voicemails">Voicemails</a></li>
<li class="inactive"><a href="/intents">Routing</a></li>
<li class="active"><a href="/assignments">Assignments</a></li>
<li class="inactive"><a href="/reminders">Reminders</a></li>
<li class="inactive"><a href="/audiofiles">Audio</a></li>
{% endblock %}
{% block body %}
		<div class="page-header">
		    <h1>Assignments</h1>
	    </div>
	    <table class="table table-hover" id="activesort_assign">
		<thead>
			<tr>
			<th> # </th>
			<th> From Phone </th>
			<th> Recipients </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for assign in assignments.items %}
		<tr>
			<th scope="row">{{ assign.id }}</th>
			<td> {{ assign.from_phone[0:3] + "-" + assign.from_phone[3:6] + "-" + assign.from_phone[6:] }}</td>
			<td> {{ assign.recipients }}</td>
			<td> 
			<a href="https://twilio.ehhapp.org/assignments/edit{{ assign.id }}" class="btn btn-xs btn-primary" role="button">Edit</a> 
			<a href="https://twilio.ehhapp.org/assignments/delete{{ assign.id }}" class="btn btn-xs btn-danger" role="button">Delete</a>
				</td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if assignments.items|length == 0 %}
	    <div class="alert alert-info">No assignments in DB.</div>
	    {% endif %}
	    <a href="/assignments/edit" class="btn btn-lg btn-primary">Add an assignment</a>
	    </div>
    </div><!-- /.container -->
{% endblock %}
