{% extends "layout.html" %}
{% block body %}
		<div class="page-header">
		    <h1>Assignments</h1>
	    </div>
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> # </th>
			<th> From Phone </th>
			<th> Recipients </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for i in range(0,data['id']|length) %}
		<tr>
			<th scope="row">{{ data['id'][i] }}
			<td> {{ data['from_phone'][i] }}</td>
			<td> {{ data['recipients'][i] }}</td>
			<td> 
			<a href="https://twilio.ehhapp.org/assignments/edit{{ data['id'][i] }}">Edit</a> 
			<a href="https://twilio.ehhapp.org/assignments/delete{{ data['id'][i] }}">Delete</a>
				</td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if data['id']|length == 0 %}
	    <div class="alert alert-info">No assignments in DB.</div>
	    {% endif %}
	    <a href="/assignments/edit" class="btn btn-lg btn-primary">Add an assignment</a>
	    </div>
    </div><!-- /.container -->
{% endblock %}