{% extends "layout.html" %}
{% block navbar %}
<li class="inactive"><a href="/calls">Call Log</a></li>
<li class="inactive"><a href="/voicemails">Voicemails</a></li>
<li class="inactive"><a href="/intents">Routing</a></li>
<li class="inactive"><a href="/assignments">Assignments</a></li>
<li class="inactive"><a href="/reminders">Messages</a></li>
<li class="active"><a href="/audiofiles">Audio</a></li>
{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h1>Audio files <a href="/audiofiles/add" class="btn btn-primary">Add</a></h1>

	    </div>
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Filename </th>
			<th> Audio </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for audio in audiofiles %}
		<tr>
			<th scope="row">{{ audio }}</th>
			<td> <audio controls preload="none"> <source src="https://twilio.ehhapp.org/assets/audio/{{ audio }}"></audio></td>
			<td> 
			<a href="https://github.com/ehhop/ehhapp-twilio/search?q={{ audio}}">View on Github</a><br>
			<a href="https://twilio.ehhapp.org/audiofiles/edit/{{ audio }}">Edit</a><br>
			<a href="https://twilio.ehhapp.org/audiofiles/delete/{{ audio }}" onclick="return confirm('Are you sure? This cannot be undone.');"><font color="red">Delete</font></a>
				</td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if audiofiles|length == 0 %}
	    <div class="alert alert-error">ERROR: No audiofiles.</div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
