<html lang="en">
<head>
  <!-- required -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, minimum-scale=0.5" />
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/assets/manifest.json">
	<meta name="theme-color" content="#ffffff">
  <!-- Google Sign in for authentication -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="{{ vm_client_id }}">
  <link rel="stylesheet" type="text/css" href="assets/sm2/360player.css" />

  <!-- special IE-only canvas fix -->
  <!--[if IE]><script type="text/javascript" src="assets/sm2/excanvas.js"></script><![endif]-->

  <!-- Apache-licensed animation library -->
  <script type="text/javascript" src="assets/sm2/berniecode-animator.js"></script>

  <!-- the core stuff -->
  <script type="text/javascript" src="assets/sm2/soundmanager2.min.js"></script>
  <script type="text/javascript" src="assets/sm2/360player.js"></script>

  <script type="text/javascript">
  soundManager.setup({
    // path to directory containing SM2 SWF
    url: 'assets/sm2/'
  });
  
  threeSixtyPlayer.config.scaleFont = (navigator.userAgent.match(/msie/i)?false:true);
  threeSixtyPlayer.config.showHMSTime = true;

  // enable this in SM2 as well, as needed

  if (threeSixtyPlayer.config.useWaveformData) {
    soundManager.flash9Options.useWaveformData = true;
  }
  if (threeSixtyPlayer.config.useEQData) {
    soundManager.flash9Options.useEQData = true;
  }
  if (threeSixtyPlayer.config.usePeakData) {
    soundManager.flash9Options.usePeakData = true;
  }

  if (threeSixtyPlayer.config.useWaveformData || threeSixtyPlayer.flash9Options.useEQData || threeSixtyPlayer.flash9Options.usePeakData) {
    // even if HTML5 supports MP3, prefer flash so the visualization features can be used.
    soundManager.preferFlash = true;
  }
  
  </script>
</head>
<body>
  <div class="container" style="width:100%; height:100%;font-family:sans-serif">
  <div id="signin1" style="height:100px; width:30%; min-width:300px;margin: 0 auto; text-align:center; display:block"><h2>Please sign in to view your voicemail</h2></div>
  <div id="signin2" style="width:120px;margin: 0 auto; display:block">
	<div id="my-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
  </div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'https://twilio.ehhapp.org/tokensignin');
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onload = function() {
			console.log("Signed in as: ", xhr.responseText);
			document.getElementById('player1').style.display='block';
			document.getElementById('signin1').style.display='none';
			document.getElementById('signin2').style.display='none';
			document.getElementById('curuser').innerHTML="Logged in as: " + xhr.responseText + ' | <a href="#" onclick="signOut();">Log out</a></p>';	
		};
		xhr.send('idtoken=' + id_token);
	  };
  </script>
  <script>
	    function signOut() {
		    var auth2 = gapi.auth2.getAuthInstance(); 
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET', 'https://twilio.ehhapp.org/logout');
		    xhr.send();
		    document.getElementById('player1').style.display='none';
                    document.getElementById('signin1').style.display='block';
                    document.getElementById('signin2').style.display='block';
		    auth2.signOut().then(function () {
		          console.log('User signed out.');
			      });
			        }
</script>
    <script>
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'prompt': 'select_account',
        'width': 120,
        'height': 50,
        'longtitle': false,
        'theme': 'light',
        'onsuccess': onSignIn,
        'onfailure': onFailure,
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  <div class="player-container" style="display:none; width:30%; min-width:300px; margin: 0 auto" id="player1">
	 {% if current_user.is_authenticated %}
	 <p style="font-size:10px;text-align:center" id="curuser">Logged in as: {{ current_user.email }} | <a href="#" onclick="signOut();">Log out</a></p>
	 {% else %}
	 <p style="font-size:12px;text-align:center" id="curuser">Not logged in. | <a href="#" onclick="signOut();">Retry</a></p>
	 {% endif %}
	 <h2 style="text-align:center">Voicemail message</h2>
<div class="player-container" style="display:block; margin: 0 auto" id="player2">
    <div class="ui360 ui360-vis">
      <a href="{{audio_url}}">Voicemail message</a>
    </div>
    {% if current_user.is_authenticated %}
    <div style="margin-top:40px">
      <table>
	<tr><td style="width:100px;padding-bottom: 1em">From:</td><td style="padding-bottom:1em"><a href="tel:{{vm_info.from_phone}}">{{ vm_info.from_phone[-10:-7] + "-" + vm_info.from_phone[-7:-4] + "-" + vm_info.from_phone[-4:] }}</a></td></tr>
	<tr><td style="width:100px;padding-bottom: 1em">Caller:</td><td style="padding-bottom:1em">{{vm_info.intent}}</td></tr>
      </table>
    </div>
    {% endif %}
    <div class="instructions">Click the play button to start listening.
    <p><a href="/voicemails"><h3>Listen to other voicemails »</h3></a>	
    </div>
    </div>
</div>
  </div>
</body>
</html>

