{% extends "layout.html" %}
{% block navbar %}
<li class="inactive"><a href="/calls">Call Log</a></li>
<li class="inactive"><a href="/voicemails">Voicemails</a></li>
<li class="inactive"><a href="/intents">Routing</a></li>
<li class="inactive"><a href="/assignments">Assignments</a></li>
<li class="active"><a href="/reminders">Messages</a></li>
{% endblock %}
{% block body %}
		<div class="page-header">
		    <h1>Scheduled Reminders</h1>
	    </div>
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> # </th>
			<th> To </th>
			<th> From </th>
			<th> Status </th>
			<th> Scheduled Delivery </th>
			<th> Recording </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for i in range(0,data['id']|length) %}
		<tr>
			<th scope="row">{{ data['id'][i] }}</th>
			<td> {{ data['to_phone'][i] }}</td>
			<td> {{ data['from_phone'][i] }}</td>
			<td> {{ "Delivered" if data['delivered'][i] else "Scheduled" }}</td>
			<td> {{ data['time'][i] }}</td>
			<td> <audio controls preload="none"> <source src="{{ data['message'][i] }}" type="audio/wav"></audio></td>
			<td> <a href="https://twilio.ehhapp.org/reminders/{{ data['id'][i] }}/delete" onClick="return confirm(\'Are you sure?\')">Delete</a></td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if data['id']|length == 0 %}
	    <div class="alert alert-success">No reminders scheduled.</div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
