{% extends "layout.html" %}
{% block navbar %}
<li class="inactive"><a href="/calls">Call Log</a></li>
<li class="inactive"><a href="/voicemails">Voicemails</a></li>
<li class="inactive"><a href="/intents">Routing</a></li>
<li class="inactive"><a href="/assignments">Assignments</a></li>
<li class="active"><a href="/reminders">Reminders</a></li>
<li class="inactive"><a href="/audiofiles">Audio</a></li>
{% endblock %}
{% block body %}
		<div class="page-header">
		    <h1>Scheduled Reminders</h1>
	    </div>
	    <nav>
            <ul class="pager">
            {% if reminders.has_prev %}
                        <li class="pager-prev"><a href="{{ url_for('serve_reminder_admin', page=reminders.prev_num) }}">&lt;&lt; Newer</a></li>
            {% else %}
                        <li class="pager-prev disabled"><a href="#">&lt;&lt; Newer</a></li>
            {% endif %}
            {% if reminders.has_next %}
                        <li class="pager-next"><a href="{{ url_for('serve_reminder_admin', page=reminders.next_num) }}">Older&gt;&gt;</a></li>
            {% else %}
                        <li class="pager-next disabled"><a href="#">Older&gt;&gt;</a></li>
            {% endif %}
            </ul>
            </nav>

	    <table class="table table-hover">
		<thead>
			<tr>
			<th> # </th>
			<th> To </th>
			<th> From </th>
			<th> Status </th>
			<th> Scheduled Delivery </th>
			<th> Recording </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for remind in reminders.items %}
		<tr>
			<th scope="row">{{ remind.id }}</th>
			<td> {{ remind.to_phone }}</td>
			<td> {{ remind.from_phone }}</td>
			<td> {{ "Delivered" if remind.delivered else "Scheduled" }}</td>
			<td> {{ remind.time }}</td>
			<td> <audio controls preload="none"> <source src="{{ recordings_base + remind.message }}" type="audio/wav"></audio></td>
			<td> <a href="https://twilio.ehhapp.org/reminders/{{ remind.id }}/delete" onClick="return confirm(\'Are you sure?\')">Delete</a></td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if reminders.items|length == 0 %}
	    <div class="alert alert-success">No reminders scheduled.</div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
