{% extends "layout.html" %}
{% block navbar %}
<li class="inactive"><a href="/calls">Call Log</a></li>
<li class="active"><a href="/voicemails">Voicemails</a></li>
<li class="inactive"><a href="/intents">Routing</a></li>
<li class="inactive"><a href="/assignments">Assignments</a></li>
<li class="inactive"><a href="/reminders">Reminders</a></li>
<li class="inactive"><a href="/audiofiles">Audio</a></li>
{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h1>Voicemails</h1>
	    </div>
	    <table class="table table-hover" id="activesort">
		<thead>
			<tr>
			<th> # </th>
			<th> Time </th>
			<th style="min-width:100px"> From </th>
			<th> Intent </th>
			<th> Assigned to </th>
			<th> Message </th>
			{% if current_user.email =="ryan.neff@icahn.mssm.edu" %}<th> Actions </th>{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for vm in voicemails.items %}
		<tr>
			<td> {{loop.index}}</td>
			<td style="min-width:150px"> {{ momentjs(vm.time).calendar() }}</td>
			<td style="min-width:100px"> <a href="https://twilio.ehhapp.org/flashplayer?a={{ recordings_base+vm.message }}">{{ vm.from_phone[-10:-7] + "-" + vm.from_phone[-7:-4] + "-" + vm.from_phone[-4:] }}</a></td>
			<td> {{ vm.intent }}</td>
			<td style="max-width:240px; overflow-wrap:break-word"> {{ vm.assigns }}</td>
			<td> <audio controls preload="none" style="width:200px"> <source src="{{ recordings_base+vm.message }}" type="audio/{% if vm.message[-3:]=="mp3" %}mpeg{% else %}wav{% endif %}"></audio></td>
{% if current_user.email =="ryan.neff@icahn.mssm.edu" %}			<td> 
			<a href="https://twilio.ehhapp.org/voicemails/delete{{ vm.id }}" class="btn btn-xs btn-danger" role="button">Delete</a>
				</td>
{% endif %}
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if voicemails.items|length == 0 %}
	    <div class="alert alert-error">No recordings in DB.</div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
